
# Будет игнорироваться каталог tmp где бы он не находился

tmp/

# Будут игнорироваться все файлы и каталоги с расширением .old .backup

*.html_old

*.backup

*.DS_Store


# Будут игнорироваться все файлы и каталоги Thumbs.db

Thumbs.db



